{% if source.source.type == "IMG" %}
    <img src="{{ source.source.file.url }}" class="advert image"
         {% if source.duration %}
         data-duration="{{ source.duration }}"
         {% endif %}
    >
{% elif source.source.type == "VID" %}
    <video class="advert video" src="{{ source.source.file.url }}" preload="none">
    </video>
{% elif source.source.type == "FRM" %}
    <iframe src="{{ source.source.url }}" class="advert image"
            {% if source.duration %}
            data-duration="{{ source.duration }}"
            {% endif %}
    ></iframe>
{% endif %}
