{% if source.source.type == "IMG" %}
    <img src="{{ source.source.file.url }}" class="advert image" style="max-width: 75%;"
         {% if source.duration %}
         data-duration="{{ source.duration }}"
         {% endif %}
    >
{% elif source.source.type == "VID" %}
    <video controls class="advert video" src="{{ source.source.file.url }}" preload="metadata" style="max-width: 75%;">
       <!-- <source src="{{ source.source.file.url }}"> -->
    </video>
{% elif source.source.type == "FRM" %}
    <iframe src="{{ source.source.url }}" class="advert image" style="max-width: 75%;"
            {% if source.duration %}
            data-duration="{{ source.duration }}"
            {% endif %}
    ></iframe>
{% elif source.source.type == "YTV" %}
    <iframe src="https://{{ source.source.url }}?controls=0&enablejsapi=1&iv_load_policy=3" class="advert tube" allow="autoplay"
    ></iframe>
{% endif %}
